*{
 margin: 0;
 padding: 0;
 text-decoration: none;
 /* mix-blend-mode: multiply; */
}

.active {
  background: #026e8c8b;
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
